[submodule "cheatsheet/Reliable-and-Interpretable-AI-Cheatsheet-HS18"]
	path = cheatsheet/Reliable-and-Interpretable-AI-Cheatsheet-HS18
	url = git@github.com:manuelbre/Reliable-and-Interpretable-AI-Cheatsheet-HS18.git
